<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRejectedRegistrationLabel">Create or edit a Rejected Registration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rejectedRegistration.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rejectedRegistration.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ePostKeyName">E Post Key Name</label>
            <input type="text" class="form-control" name="ePostKeyName" id="field_ePostKeyName"
                [(ngModel)]="rejectedRegistration.ePostKeyName" required/>
            <div [hidden]="!(editForm.controls.ePostKeyName?.dirty && editForm.controls.ePostKeyName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ePostKeyName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ePostKeyValue">E Post Key Value</label>
            <input type="text" class="form-control" name="ePostKeyValue" id="field_ePostKeyValue"
                [(ngModel)]="rejectedRegistration.ePostKeyValue" required/>
            <div [hidden]="!(editForm.controls.ePostKeyValue?.dirty && editForm.controls.ePostKeyValue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ePostKeyValue?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_noAVS">No AVS</label>
            <input type="text" class="form-control" name="noAVS" id="field_noAVS"
                [(ngModel)]="rejectedRegistration.noAVS" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="rejectedRegistration.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="rejectedRegistration.prenom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateDeNaissance">Date De Naissance</label>
            <div class="d-flex">
                <input id="field_dateDeNaissance" type="datetime-local" class="form-control" name="dateDeNaissance" [(ngModel)]="rejectedRegistration.dateDeNaissance"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
